body {
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
}

button {
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
}
#gems {
  font-size: 30px;
  margin: 20px;
  color: red;
}

button {
  margin: 10px;
  padding: 10px 15px;
  font-size: 16px;
}
